<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="layout::link-css"></th:block>
    <title>Khôi phục mật khẩu</title>
</head>
<body>
<th:block th:replace="layout::header"></th:block>
<div class="container mt-4">
    <div th:if="${error}" class="alert alert-danger">
        <span th:text="${error}"></span>
    </div>
    <h1>Vui lòng xác thực email để khôi phục mật khẩu</h1>
    <form th:action="@{/recovery_password}"  method="post">
        <div class="col-6 mb-3">
            <input class="form-control" type="email" name="email">
        </div>
        <input type="submit" class="btn btn-primary" value="Gửi email">
    </form>
    <br>
    <a th:href="@{/books}">Quay lại</a>
</div>
<th:block th:replace="layout::footer"></th:block>
</body>
</html>
