<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="layout::link-css"></th:block>
    <title>Đặt lại mật khẩu</title>
</head>
<body>
<th:block th:replace="layout::header"></th:block>
<div class="container mt-4">
    <form th:action="@{/submit_recovery_password}"  method="post">
        <div class="col-6 mb-3">
            <input hidden th:value="${userId}" name="userId">
        </div>
        <div class="col-6 mb-3">
            <input placeholder="Mật khẩu mới" class="form-control" type="password" name="password">
        </div>
        <div class="col-6 mb-3">
            <input placeholder="Nhập lại mật khẩu" class="form-control" type="password" name="re_password">
        </div>
        <input type="submit" class="btn btn-primary" value="Đặt lại mật khẩu">
    </form>
    <br>
    <a th:href="@{/books}">Quay lại</a>
</div>
<th:block th:replace="layout::footer"></th:block>
</body>
</html>
